#target{
    color: coral;
}   
table {
    border-collapse: collapse;
  }
  td {
    border: 1px solid black;
    padding: 8px;
  }
@media print{
    #content * {
        display: none;
    }
    #target,#target * {
        display: block;
    }
}
.day{
    font-family: Roboto,system-ui;
    font-size: 39.5px;
    text-align: center;
    padding: 17px;
}
.day {
    font-weight: 400;
    margin-top: 20px;
  }
  
  table {
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
  }
  
  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  td {
    text-align: center;
  }
  
  td:first-child {
    font-weight: bold;
  }
  
.containe{
    display: flex;
    flex-direction: row;
    font-family: Roboto,system-ui;
}
.in{
    margin-left: 15px;
    
}
.inpt{
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    max-width: 120px;
}
select{
  width: 120px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
}