.entry{
    display: flex;
    flex-direction: row;
    font-family: Roboto,system-ui;
}
.info{
    margin-left: 10px;
    margin-right: 10px;
    height: 30px;
    width: 160px;
}
.del{
    cursor: pointer;
    width: 30px;
}
.room{
    width: 175px;
}